@font-face{
  font-family: 'Montserrat';
  font-weight: 400;
  src:
    url("fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("fonts/montserrat/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face{
  font-family: 'Montserrat';
  font-weight: 700;
  src:
    url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("fonts/montserrat/Montserrat-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face{
  font-family: 'Montserrat';
  font-weight: 100;
  src:
    url("fonts/montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Thin.woff") format("woff"),
    url("fonts/montserrat/Montserrat-Thin.ttf") format("ttf");
  font-display: swap;
}